/* HEADER STYLES */
.headerBackground {
    background-color: #262728;
    position: relative;
    width: 100%;
    height: 10vh;
    padding: 0 2rem;
}

/* NAV STYLES - SMALLER SCREENS */
.dropdownMenu {
    top: 70px;
    background: rgba(12, 11, 11, 0.4);
    border-radius: 20px;
}

/* MAIN CONTENT STYLES */
main {
    padding-top: 3%;
    margin: 0 20%;
    text-align: center;
    color: rgb(43, 41, 41);
}

.intro li {
    padding: 5px;
    display: inline-block;
}

#heading h1 {
    background-color: orange;
}

.intro hr + p a {
    text-decoration: none;
}

.intro hr + p a:hover {
    color: rgb(10, 179, 179);
}

/* SECTION MAINPAGECONTENT */
.mainPageContent #tech {
    padding-top: 20px;
}

#tech,
#life,
#cyber,
#hire {
    padding: 10px;
    background-color: white;
    transition: background-color 1s ease;
}

#hire {
    background-color: orange;
}

#tech:hover,
#life:hover,
#cyber:hover,
#hire:hover {
    background-color: rgb(253, 193, 80);
}

#tech h2:hover,
#life h2:hover,
#cyber h2:hover,
#hire h2:hover {
    text-decoration: underline;
}

#tech a:hover,
#life a:hover,
#cyber a:hover,
#hire a:hover {
    font-weight: bolder;
}

#tech h2,
#life h2,
#cyber h2,
#hire h2 {
    padding-bottom: 20px;
}

#tech p,
#life p,
#cyber p,
#hire p {
    font-size: 1.3rem;
    line-height: 2;
}

#tech ul,
#life ul,
#cyber ul,
#hire ul {
    padding: 40px;
}

#tech p + ul li,
#hire li {
    padding: 10px;
}

#tech a,
#life a,
#cyber a,
#hire a,
#hire li {
    font-size: 1.2rem;
}

.anim {
    border-radius: 5%;
    overflow: hidden;
    animation: square 5s linear infinite;
}

@keyframes square {
    0%{
        transform: rotate(0deg) translate(-15px) rotate(0deg);
    }

    100%{
        transform: rotate(360deg) translate(-15px) rotate(-360deg);
    }
}


/* UNIMPORTED MEDIA QUERIES */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .actionBtn {
        display: none;
    }

    .navbar .toggleBtn {
        display: block;
    }

    .dropdownMenu {
        display: block;
    }

    main {
        margin: 0 10%;
        text-align: center;
        color: rgb(43, 41, 41);
    }

    .mainPageContent {
        margin-left: 0;
        line-height:1.8;
        font-size:1.2rem;
    }
}

@media (max-width: 576px) {
    .dropdownMenu {
        left: 2rem;
        width: unset;
        background: rgba(85, 81, 81, 0.6);
    }

    .dropdownMenu.open {
        height: 369px;
    }
    
    .dropdownMenu li {
        padding: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main {
        margin: 0 10%;
    }

    .mainPageContent {
        padding: 3px;
        line-height:1;
        font-size:1rem;
    }
}

@media (max-width: 340px) {
    .background main {
        text-align: left;
        margin: 0 auto;
        max-width: none;
    }

    #footer {
        margin: 0 auto;
    }
}
